<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue实例</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <button @click="showInfo">请单击</button>
    <p>{{msg}}</p>
</div>
<script>
    axios.get('/user/findAll')
    .then(function (response) {
        console.log("返回的数据",response.data);
    })
    .catch(function (erro) {
        console.log("数据出错",erro);
    })
    var app=new Vue({
        el:'#app',
        data:{
            msg:''
        },
        methods:{
            showInfo(){
                this.msg='触发单击事件'
            }
        }
    })
</script>
</body>
</html>
