<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue实例</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <p>{{showInfo()}}</p>
</div>
<script>

    var app=new Vue({
        el:'#app',
        methods:{
            showInfo(){
                axios.get('/user/getUser1')
                    .then(function (response) {
                        console.log("返回的数据",response.data);
                        return response.data.name
                    })
                    .catch(function (erro) {
                        console.log("数据出错",erro);
                    })
            }
        },
        created(){
            showInfo()
        }
    })
</script>
</body>
</html>
